/* .dropdown-menu {
width: 500px !important;
height: 600px !important;
font-size: 10px !important;
} */


 tbody, .form-select, .form-control, .pagination-info, .page-link, .th-inner {

       font-size: 9px;

} 

th {

  vertical-align: top !important;

}


